:root {
  /* ========== Color ==========*/
  --color-black: #3f454d;
  --color-white: #ffffff;;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-gray: #dfdfdf;

  /*========== Size ==========*/
  --size-button: 60px;
  --font-size: 18px;
  --base-space: 8px;
  --size-border: 4px;
  --size-thumbnail: 50px;

  /*========== Animation ==========*/
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  cursor: pointer;
  transition: var(--animation-duration);
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

/*========== Button ==========*/

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--animation-duration);
}

.buttons {
  align-items: center;
  margin-right: var(--base-space);
  display: flex;
  justify-content: space-between;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space)*2);
  border-radius: var(--size-border);
  margin-right: var(--base-space);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

/*========== Items ==========*/

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;   /* scroll only inside the container */
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.itme_thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item_description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}

.invisible {
  display: none;
}